@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins&display=swap");
@font-face {
  font-family: Poppins;
  src: url(../Assets/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Leckerli;
  src: url(../Assets/Fonts/Leckerli/LeckerliOne-Regular.ttf);
}
@font-face {
  font-family: Rimouski;
  src: url(../Assets/Fonts/Rimouski/rimouski.otf);
}
:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.colorA {
  color: rgb(231, 194, 15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: rgba(255, 255, 255, 0.342);
}

.header {
  padding: 0 4.8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 4.5rem;
  width: 4.5rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

#footer {
  background-color: #161313;
  color: white;
  margin-top: auto;
}
#footer a {
  color: #8193ee;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.83rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: darkblue;
}

.btn {
  border-radius: 3rem;
  padding: 1.5rem;
  background-color: black;
  color: white;
}

.front {
  height: 80vh;
  font-family: Rimouski, monospace !important;
  margin: 7rem 15rem;
  padding: 5px;
}
.front .fleft {
  width: 40%;
  float: left;
  font-size: 3.2rem;
  margin-top: 13rem;
}
.front .fleft p {
  font-size: 20px;
}
.front .fleft .btn {
  padding: 10px 30px;
}
.front .fright {
  width: 40%;
  float: right;
  position: relative;
  margin-right: 50px;
}
.front .fright video {
  height: 500px;
}

.type {
  font-family: "Leckerli One", cursive;
  color: orange;
  font-weight: 700;
}

.about {
  height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 100vw;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #e7d5ff;
}
.about .Aleft {
  float: left;
  width: 40%;
}
.about .Aright {
  float: right;
  width: 40%;
  margin-right: 20rem;
}
.about .Aright h2 {
  font-size: 48px;
}
.about .Aright p {
  font-size: 16px;
}
.about .Aright .grey {
  color: rgb(183, 173, 173);
  font-size: 14px;
  font-weight: bold;
}

.roadmap {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
.roadmap h2 {
  font-size: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border-bottom: 2px solid black;
}

.nft-icon {
  height: 200px;
}

.trendSection {
  width: 100vw;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  margin-right: 300px;
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
}
.trendSection h2 {
  position: fixed;
}

.trendSection .headh2 {
  position: fixed;
  display: block;
}

.trendSection::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

.trendSection::-webkit-scrollbar-thumb {
  background-color: #6eb1b1;
}

.trendSection::-webkit-scrollbar-track {
  background-color: rgb(198, 231, 231);
}

.nftCard {
  min-width: 335px;
  background-color: #ffffff;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 17px;
  position: relative;
  height: 300px;
}

.card1 {
  margin-left: 500px;
}

.buyButton {
  margin: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  justify-content: center;
  height: 39px;
}

.buyBtn {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 17px 17px;
  background-color: rgb(204, 165, 241);
}

#buyBtn {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.details p {
  font-family: Rimouski, monospace;
  color: #e7d5ff;
  background-color: #000000;
  padding: 2px;
  margin: 15px;
}

.slide-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  position: relative;
  flex-direction: column;
  padding-top: 50px;
}
.slide-container h2 {
  font-size: 60px;
  color: #e7d5ff;
}

.image-slider {
  width: auto;
  height: 600px;
  position: absolute;
  left: 100px;
  left: -300px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img {
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 240px;
  height: 280px;
  transition: 0.5s;
  background-color: rgba(91, 91, 208, 0);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span9:target ~ .image-slider #img9,
#slider-span9:target ~ .image-slider #button-9 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span10:target ~ .image-slider #img10,
#slider-span10:target ~ .image-slider #button-10 {
  width: 380px;
  height: 385px;
  background-color: transparent;
}

#slider-span1:target ~ .image-slider {
  left: 20%;
}

#slider-span2:target ~ .image-slider {
  left: 0%;
}

#slider-span3:target ~ .image-slider {
  left: -20%;
}

#slider-span4:target ~ .image-slider {
  left: 0;
}

#slider-span5:target ~ .image-slider {
  left: 10%;
}

#slider-span6:target ~ .image-slider {
  left: 5%;
}

#slider-span7:target ~ .image-slider {
  left: 0;
}

#slider-span8:target ~ .image-slider {
  left: -5%;
}

#slider-span9:target ~ .image-slider {
  left: -10%;
}

#slider-span10:target ~ .image-slider {
  left: -20%;
}

body, html {
  width: 100vw;
  overflow-x: hidden;
}

.faq {
  height: 100vh;
  width: 100%;
  background-color: #3c4053;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq h2 {
  font-size: 60px;
  text-align: center;
  color: #e7d5ff;
  margin: 100px;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.faq .faqContainer {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.faq .ques .ques-item {
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}
.faq .ques .ques-item .ques-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.faq .ques .ques-item .ques-link img {
  color: #e7d5ff;
}
.faq .ques .ques-item .ques-link .remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
}
.answer p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.ques-item:target .answer {
  max-height: 20rem;
}

.ques-item:target .ques-link .add {
  display: none;
}

.ques-item:target .ques-link .remove {
  display: block;
}

.container {
  width: 1%;
  height: 120vh;
  background-color: black;
  margin-left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
}

.box {
  position: relative;
  display: block;
  border: 2px solid black;
  background: #e7d5ff;
  max-width: 300px;
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50px 0 50px 0;
  margin: 30px !important;
  padding: 25px;
}
.box span {
  font-size: large;
  color: rgb(255, 0, 0);
  padding: 5px;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 100%;
  text-align: center;
  background-color: #ffffff;
}
.box p {
  font-size: 1.4rem;
}

.b1 {
  float: right;
}
.b1 img {
  width: 270px;
  align-items: center;
  display: block;
}

.b2 {
  float: left;
}

.subtext {
  font-size: 16px !important;
}

.icon {
  height: 20px;
  color: #e7d5ff;
}

.answer {
  color: white;
}

.cursor {
  color: #111;
  background-color: #111;
  border-radius: 50%;
  transform: rotate(30deg);
  -webkit-animation: blink 0.5s linear infinite;
          animation: blink 0.5s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.MnavIcon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.MnavBtn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.cross {
  display: none;
}

@media only screen and (max-width: 90em) {
  .box {
    max-width: 293px;
  }
}
@media only screen and (max-width: 62em) {
  .about {
    max-height: 100vh;
  }
  .about .Aright h2 {
    font-size: 40px;
  }
  .MnavBtn {
    display: block;
    z-index: 999;
  }
  .header {
    position: relative;
  }
  .navbar {
    z-index: 900;
    width: 100%;
    height: 100vh;
    background-color: #e7d5ff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s linear;
  }
  .btn {
    display: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .MnavBtn .cross {
    display: block;
  }
  .active .MnavBtn .menu {
    display: none;
  }
  .front {
    margin: 5rem 12rem;
  }
  .front .fleft {
    font-size: 2.4rem;
  }
  .front .fright {
    padding-right: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 53.5em) {
  .faq {
    flex-direction: column;
    height: 100%;
  }
  .about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  .about .Aright {
    float: none;
    position: absolute;
    width: 100%;
    margin: 50%;
    height: 100%;
    top: 0;
  }
  .about .Aright p {
    margin-left: 50px;
    margin-right: 50px;
  }
  .about .Aright h2 {
    margin: 0;
    margin-left: 50px;
    font-size: 33px;
  }
  .about .Aleft {
    float: none;
    position: absolute;
    margin-bottom: 50%;
    top: 0;
  }
}
@media only screen and (max-width: 47em) {
  .about .Aleft img {
    height: 250px;
  }
  .front {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    margin: 0;
  }
  .front .fright {
    float: none;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    right: 25%;
    position: absolute;
  }
  .front .fright video {
    height: 400px;
    margin-top: -10px;
  }
  .front .fleft {
    float: none;
    margin-top: 400px;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
}
@media only screen and (max-width: 31em) {
  .about {
    height: 215vh;
  }
  .about .Aright {
    margin-top: 300px;
  }
  .about .Aleft {
    margin-right: 14%;
  }
  .front h1 {
    font-size: 30px;
    margin-top: 5%;
  }
  .front .fright {
    align-items: center;
    align-self: center;
    justify-content: center;
    left: 5%;
    top: 5%;
    margin-bottom: 5%;
  }
  .front .fright video {
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 25em) {
  .header {
    padding: 0 0.8rem;
  }
  .front .fright video {
    height: 300px;
  }
  .front .fleft {
    margin-top: 300px;
  }
}/*# sourceMappingURL=Style.css.map */